.homebot{
    background: #fff;
    margin-top: .3rem;
    .bot-nav{
        width:100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        height:.4rem;
        a{
            color: #000;
        }
    }
    ul{
        width: 100%;
        padding:.1rem .8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:.8rem;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;    
        line-height: .8rem;     
        li{
            height:100%;
            text-align: center;
            line-height: .3rem;
            i{
                display: inline-block;
                line-height: .3rem;
                font-size: .2rem;
                width:.35rem;
                height: .35rem;
                border-radius:50%;
                border: 1px solid #000; 
            }
            span{
                display: block;
            }
        }
        
    }p{
            text-align: center;
        }
}
