.good{
    display: inline-block;
    width: 1.76rem;
    height:2.6rem;
    
    img{
        width:1.76rem;
        height:1.76rem;
    }
    p:nth-of-type(1){
        width:100%;
        overflow: hidden;
        border-bottom: .01rem solid #ccc;
        padding-bottom: .06rem; 
    }
    p:nth-of-type(2){
        line-height: .26rem;
        span{
            color:rgb(240, 38, 38);
            font-size:.1rem;
            b{
                font-size:.15rem; 
            }
        }
    }
}

.good:nth-child(odd){
    margin:0.1rem .04rem 0 .07rem;
}

.good:nth-child(even){
    margin:0.1rem .07rem 0 .04rem;
}
