.detailsbot{
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0;
    ul{
        display: flex;
        height: .54rem;
        text-align: center;
        li:nth-of-type(1){
            width: .58rem;
            color: rgb(32, 32, 32);
            span{
                display: block;
            }
            i{
                font-size: .22rem;
                line-height: .27rem;
            }
        }
        li:nth-of-type(2){
            width: .74rem;
            a{
            color: rgb(32, 32, 32);
            span{
                display: block;
            }
            i{
                font-size: .22rem;
                line-height: .27rem;                
            }
        }
        }
        li:nth-of-type(3){
            width: 1rem;
            line-height: .54rem;
            background: #ED5564;
            font-size:.18rem;
            color: #fff; 
        }
        li:nth-of-type(4){
            flex: 1;
            line-height: .54rem; 
            background: #FB6E52; 
            font-size:.18rem;
            color: #fff;           
        }
    }
}