@import "./detailswiper.scss";
@import "./detailsBot.scss";
@import "./detailscen.scss";
@import "./detaild.scss";
@import "./evaluate.scss";

.details{
    background: #fff;
    height: 6.67rem;
    overflow-y:auto;
}